body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
pre {
  margin-left: 20px;
  padding: 15px;
  border-radius: 6px;
  overflow-x: auto;
  width: 80%;
}

p:hover {
  color: #f80c57;
  font-weight: bold;
  cursor: pointer;
  font-size: large;
  transition: all 0.5s ease;
}

code {
  width: 90%;
}
#title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title-container #image img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 20px;
}
.imagen-grande {
  width: 140px !important;
  height: auto !important;
}
#title-container #text {
  /* margin-left: 20px; */
  font-size: 28px;
  font-weight: bold;
  color: #8a0cf8;
  margin-bottom: 10px;
  margin-right:48%;
}
#title-container #logo-javascript {
  /* margin-left: 20px; */
  font-size: 28px;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 25px;
  width: 60px;
  height: 60px;
  background-color: rgb(247, 223, 30);
  color: black;
}

.upperBar {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b7b7b7;
  padding: 5px 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.menu-principal-item {
  margin: 0 15px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}
.menu-principal-item:hover {
  color: #f80c57;
  transition: color 0.3s ease;
}
.main-container {
  width: 98%;
  padding: 20px;
  background-color: #b7b7b7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 